/* Error: expected "(".
 *    ,
 * 96 | @media screen and  { max-width: 768px;
 *    |                    ^
 *    '
 *   sass\pages\restaurants\_menu.scss 96:20  @import
 *   sass\index.scss 11:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "(".\a    \2577 \a 96 \2502  @media screen and  { max-width: 768px;\d\a    \2502                     ^\a    \2575 \a   sass\\pages\\restaurants\\_menu.scss 96:20  @import\a   sass\\index.scss 11:9                     root stylesheet';
}
