@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonlist{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: $color-rgb-gradient;
    border-radius: 100%; 
    font-size: 20px;
}

@mixin item{
        width: 500px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        background-color: $gray-color-banner;
        border-radius: 50px;
        box-shadow: 0px 5px 10px rgb(211, 204, 204);
}