/* test-color-gray-banner*/
/* gradient color button */
/* box-shadow */
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

/* header*/
.titlelogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: white;
}

img {
  width: 250px;
  height: 50px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px -1px 3px gray;
          box-shadow: 0px -1px 3px gray;
}

.nav .logo {
  padding: 20px;
}

.nav p {
  color: gray;
  font-size: 25px;
}

.menu {
  width: auto;
  height: 300px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu p {
  font-size: 30px;
  text-align: center;
  color: gray;
}

.button {
  padding: 20px;
  font-size: 20px;
  color: white;
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 50px;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(9%, #9356dc), color-stop(86%, rgba(255, 121, 218, 0.887014)));
  background: linear-gradient(0deg, #9356dc 9%, rgba(255, 121, 218, 0.887014) 86%);
}

.titlemenu {
  width: 350px;
  text-align: center;
}

/*fonctionnement */
h2 {
  font-size: 30px;
  padding: 20px;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.choice p {
  font-size: 25px;
  font-weight: 500;
}

.item {
  width: 500px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #f2f2f2;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 10px #d3cccc;
          box-shadow: 0px 5px 10px #d3cccc;
}

.number1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 100%;
  font-size: 20px;
}

.phonelogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */