.restaurants {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: $gray-color-banner;
    padding: 50px;

    &__title {
        font-size: 20px;
        font-weight: 900;

        h2 {
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }

    .card {
        background-color: white;
        box-shadow: $box-shadow;
        width: auto;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;

        .img__card {

            position: relative;
            text-decoration: none;
            color: black;

            img {
                object-fit: cover;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
                height: 250px;
            }

            .nouveau {
                position: absolute;
                top: 20px;
                right: 20px;
                width: auto;
                padding: 10px;
                background-color: $green-color;

                .nouveau p {
                    color: rgb(6, 126, 96);
                    font-weight: 900;
                    margin: 0;
                }
            }
        }
    }


.descriptif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;


    &__titre {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        color: black;
    }


    &__icon {
      
       @include heart;
         
        
        }
    }
}

 