.search{
  width: 100%;
  border: none;
  background-color: $dark-gray-color;
  margin: 0px;
  padding: 12px;
}
input.text{
  font-family: FontAwesome, 'Roboto';
  text-decoration: inherit;
  text-align: center;
  font-weight: bold;
}
