footer{
    height: 100%
}


.box__footer{
@include flexcolumn;
background: $gray-color;
color: white;
.footer__logo img{
    padding: 30px 0px 30px 60px;
    width: 120px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.icon__fork{
    padding-left: 50px;
    height: 30px;
    @include flexrow;
}
.fa-utensils{
    padding: 10px;
}

    .icon__hand{
        padding-left: 50px;
        height: 30px;
       @include flexrow;
    }
    .fa-handshake-angle{
        padding: 7px;
    }

    .text__footer{
        padding-left: 60px;
    }

}
