/* header*/ 
header{
    @include flexrow;
    width: 100%;
    height: 70px;
    .icon{
        @include flexMid;
height: 100%;
width: 70px;
& a{
    color: black;
}
    }
    .titlelogo {
        width: auto;
        flex: 1;
        height: 100%;
        background-color: white;
        @include flexMid;    
   
        img {
            @include flexMid; 	
        }
    }
    
}




