/* section */
.list_menu{


    @include flexcolumn;
.menu{
    @include flexcolumn;
    gap: 30px;
    padding: 10px;
    background-color: $gray-color-banner;
    &__title{
        @include  flexcolumn; 
        h3{}
        .underline{
            height: 3px;
            width: 50px;
            background-color: $green-color;
        }
        }

     &__cards{
         @include flexrow;
         gap: 30px;
        
         .card{
            @include flexrow;
            background-color: white;
            border-radius: 20px;
            box-shadow: $box-shadow;
            overflow: hidden;
            height: 100px;
            width: auto;
            flex: 1;
         .description{
            @include flexcolumn;
            justify-content: space-around;
            height: 100%;
            padding-left: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: auto;
            flex: 1;
         h4{
            margin-block-start: 0px;
            margin-block-end: 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
         p{
            margin-block-start: 0px;
            margin-block-end: 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
         }
        .price{
            font-weight: bold;
            align-self: flex-end;
            margin-bottom: 10px;
            width: 50px;
        }
        .check {
            
            font-size: 18px;
            padding: 20px;
            color: #FFFFFF;
            background-color: $green-color;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -75px;
            transition-duration: 0.8s;
            height: 100%;
            
           
        }
        
        &:hover > .check{
            margin-right: 0px;
           
        }
        &:hover .fa-check-circle{
            transition: all 0.5s 0.5s;
            transform: rotate(360deg);
           
        }
        }
    }
   
    }
}



