/* section */


.img__section {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 300px;

    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .banner__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: $gray-color-banner;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 100px;
        h2 {
            padding: 10px;
            font-family: 'Raleway', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Shrikhand', cursive;
            font-weight: 100;
            margin-block-start: 0em;
            margin-block-end: 0em;

        }
        .icon {
      
            @include heart;
             
    .fa-heart {
      
       right: 10px;
       top: unset;
           
    }
             
             }
    }
}


