@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn{
    display: flex;
    flex-direction: column;
    
}

@mixin flexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin heart {

    display: flex;
    align-items: center;
    position: relative;

    .fa-heart {
        color: black;
       position: absolute;
       right: 0px;
       top: 0px;  
       font-size: 35px;         
    }

    .fa-regular{    
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s ease;
        &:hover{
            opacity: 0;
            z-index: 1;
            + .fa-solid{
                opacity: 1;
                animation: heart 0.5s linear both;
            }
        }
    }
    .fa-solid{
        z-index: 1;
        opacity: 0;
        background: linear-gradient(50deg, $purple-color 0% ,$pink-color 100%);
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: 50% bottom;
        transform: scale(1);
    }
    
}


   
@keyframes heart {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
