@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn{
    display: flex;
    flex-direction: column;
    
}

@mixin flexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
