/* test-color-gray-banner*/

$lightgray-color-banner: #f7f7f7;
$gray-color-banner: #f2f2f2;

/* gradient color button */
$color-gradient:linear-gradient(0deg, rgba(147,86,220,1) 9%, rgba(255,121,218,0.8870141806722689) 86%);

/* box-shadow */ 
$box-shadow:box-shadow 0px 5px 10px rgb(211, 204, 204);


/* color page */

$purple-color:#9356DC;
$pink-color:#FF79DA;
$green-color:#99E2D0;


$font-family-text: 'Roboto', sans-serif;
$font-family-titre: 'Shrikhand', cursive;